:root {
    --raisin-black: #2a2d34;
    --bisque: #fae3c6;
    --pewter-blue: #759aab;
    --paradise-pink: #ee4266;
    --cornflower-blue: #779be7;
    --prussian-blue: #173753;
    --white:#ffffff;
    --platinum: #ebebeb;
}

html, body {
    height: 100%;
}

#page-container,
#page,
#middle-container,
#middle,
#content-container,
#results-content,
#location-image-container,
#location-name-container,
#location-info-container,
#adv-location-info-container,
#adv-urban-area-detail-container {
    justify-content: baseline !important;
}

*, html {
    color: var(--raisin-black);
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing:content-box;
}

body {
    overflow: visible;
}

.navbar {
    background-color: var(--cornflower-blue) !important;
}

i {
    color: var(--paradise-pink);
}

button {
    background-color: var(--prussian-blue) !important;
    border: none !important;
    color: var(--white) !important;
    outline: none !important;
}

button:hover {
    background-color: var(--pewter-blue) !important;
}

a.navbar-brand,
a.nav-link {
    color: var(--white) !important;
}

a.navbar-brand:hover,
a.nav-link:hover {
    color: var(--prussian-blue) !important;
    cursor: pointer;
}

.navbar-toggler {
    background-color: var(--cornflower-blue) !important;
}

#loading-indicator {
    display: none;
}

#search-text {
    vertical-align: middle;
    border: none;
    padding: 5px 0 5px 5px;
}

#middle-container {
    height: 95vh;
    width: 100vw;
    padding: 50px 0 0 0;
    z-index: 1;
}

#middle {
    height: inherit;
    width: inherit;
}

#sidebar-container {
    height: inherit;
    width: 0;
    position: fixed;
    z-index: 2;
    background-color: var(--platinum);
    overflow-x: hidden;
    transition: 0.5s;
}

#sidebar-header {
    padding: 25px 5px 15px 5px;
}

#sidebar-header > button,
#sidebar-header > h3 {
    margin: 10px 10px 10px 10px !important;
}

.search-entry {
    margin: 5px 0 5px 0;
}

.search-entry:hover {
    cursor: pointer;
    color: var(--prussian-blue);
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#content-container {
    transition: .5s;
    width: 100vw;
    overflow-x: hidden;
}

#searchbar-content-container {
    overflow: auto;
    margin-top: 150px;
}

#searchbar-content {
    overflow: auto;
}

#searchbar-content > h1 {
    max-width: 90%;
    text-align: center;
}

#searchbar-content > p {
    text-align: center;
    max-width: 80%;
    margin: 15px 0 15px 0;
}

#main-search-button {
    margin-top: 15px !important;
}

#error-message,
#missing-urban-area-message {
    display: none;
    color: var(--paradise-pink);
    font-weight: bold;
    max-width: 90vw !important;
    margin: 15px 15px 15px 15px;
}

#missing-urban-area-message > p {
    color: var(--paradise-pink);
}

#results-content-container {
    display: none;
    height: auto;
    overflow: auto;
    margin: 100px 0 150px 0;
}

#results-city-list-container {
    overflow: auto;
    max-width: 90vw;
    height: 100%;
}

#results-city-list-label {
    height: auto;
    text-align: center;
    padding-top: 30px;
}

#results-city-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    padding-bottom: 50px;
    height: 100%;
}

.city-list-button {
    padding: 30px 30px 30px 30px !important;
    margin: 15px 15px 15px 15px !important;
    max-width: 80vw;
    word-break: break-all !important;
    white-space: normal;
    font-weight: bold;
}

#results-content {
    height: 100%;
}

.dark {
    color: var(--raisin-black) !important;
}

#city-img {
    max-width: 80vw;
}

#location-name-container {
    margin: 30px 30px 30px 30px;
    text-align: center;
}

#location-info-container,
#adv-location-info-container {
    width: 80vw;
    flex-wrap: wrap;
    text-align: center;
}

#location-info-container > div,
#adv-location-info-container > div,
#adv-urban-area-detail-container > div {
    height: auto;
}

#adv-location-info-container > div > div {
    width: 100%;
}

#adv-urban-area-detail-container {
    text-align: center;
    width: 80vw;
    height: 100%;
}

#perfrm-new-search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#perform-new-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-container {
    z-index: 3;
    height: 8vh;
    width: 100vw;
    background-color: var(--cornflower-blue);
    position: fixed;
    bottom: 0;
}

#footer {
    height: auto;
}

#footer > p {
    text-align: center;
    margin: 0;
    color: var(--white);
}

#footer > p > a {
    color: var(--paradise-pink);
}

@media only screen and (max-height: 629px) {
    #footer-container {
        margin-top: 30px;
        height: 100px;
    }
}

@media only screen and (min-width: 1092px) {
    #results-city-list,
    #results-content {
        height: auto;
    }

    #results-content {
        margin: 0;
    }

    #location-info-container > div,
    #adv-location-info-container > div,
    #adv-urban-area-detail-container > div {
        margin: 0 30px 30px 30px;
        max-width: 25vw;
    }
}